html{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
    overflow-y: scroll;
}

body{
	background-color: #999966;
}

header, footer{
	background-color: yellow;
	border: 2px solid black;
	padding:5px;
}

footer {
	position : fixed;
	bottom :0px;
	left :0px;
	right :0px;
	
}
	
nav{
	background-color: green;
	border: solid black 2px;
	padding:5px;
	}

.bar{
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding:3px;
	color: black;
	background-color: #99FF00;
	border: solid black 2px;
	display: inline-block;
	cursor: pointer;
	}

label{
	margin: 130px;
	display: block;
	margin-bottom: 10px;
	margin-top: 2px;
}

#reset, #send {
    cursor: pointer;
}

table {
	border: none;
	}
	
table tr, td{
	border: 1px solid black;
	border-collapse:collapse;
}

form{
	border: 10px solid black;
	border-radius: 12px;
	width: 60%;
	background-color: #E0E05C;
}

fieldset{
	border: none;
}

